html {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    background-color: #1F2937;
    background-size: contain;
    color: white;
    padding: 10px 250px 50px;
    margin: -8px;
}

#header {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

li,
p {
    font-size: 18px;
    color: #E5E7EB;
}

a, a:active, a:visited { 
    color: white;    
    text-decoration: none;
    padding: 10px;
}

a:hover {
    color: black;
}

button {
    background-color: #3882f6;
    color: white;
}

.logo-links {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
}

.headerlogo {
    align-self: flex-start;
}

.profilepic {
    border-radius: 25px;
}

.header-pic {
    border-radius: 8px;
}